@import 'tailwindcss';

@layer base {
  :focus {
    outline: none !important;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-3px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}

@theme {
  --color-primary-blue: #1D4ED8;
}

.analytics-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
padding:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}